{:ns zd.test
 :import #{zen-web zd}

 zendoc-local
 {:zen/tags #{zd/zendoc}
  :paths ["customers-x"]
  :root "index"}

 datalog
 {:zen/tags #{zen/start zd.engines/datalog}
  :engine zd.engines/datalog
  :zendoc zendoc-local}

 fs
 {:zen/tags #{zen/start zd.engines/fs}
  :engine zd.engines/fs
  :zendoc zendoc-local}

 http
 {:zen/tags #{zen/start zen-web/http zd.engines/http}
  :engine zen-web/httpkit
  :port 4444
  :zendoc zendoc-local
  :api zd/api}

 system
 {:zen/tags #{zen/system}
  :start [datalog fs http]}}
