{:paths ["src" "zrc"]
 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}

        zen-lang/zen {:git/url "https://github.com/zen-lang/zen"
                      :sha "77125a6230b7fa0b92ece5fbc7cbb778472f1e8e"}

        http-kit/http-kit         {:mvn/version "2.7.0-alpha1"}
        ;; TODO remove clj-http
        clj-http/clj-http         {:mvn/version "3.12.3"}

        cheshire/cheshire         {:mvn/version "5.11.0"}
        clj-commons/clj-yaml      {:mvn/version "0.7.108"}
        com.cognitect/transit-clj {:mvn/version "1.0.329"}

        hiccup/hiccup             {:mvn/version "2.0.0-alpha2"}

        ring/ring                 {:mvn/version "1.9.5"}
        ring/ring-defaults        {:mvn/version "0.3.3"}}

 :aliases
 {:nrepl
  {:extra-paths ["test"]
   :extra-deps  {cider/cider-nrepl {:mvn/version "LATEST"}}
   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]

   :main-opts   ["-m" "nrepl.cmdline"
                 "-b" "0.0.0.0"
                 "--middleware"
                 "[cider.nrepl/cider-middleware]"]}

  :test {:extra-paths ["test"]
         :extra-deps {healthsamurai/matcho {:mvn/version "0.3.9"}}
         :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha  {:mvn/version "1.0-612"}}
   :extra-paths ["runner" "test"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner"]}}}
